header {
  margin-top: 30px;
  border-bottom: 4px solid #8b7958;
  background-color: #f4f2ef;
}
body {
  background: #d6cdc0;
}
h1 {
  text-align: center;
  color: #453c2c;
  font-family: fantasy;
}
h3 {
  color: #2e271d;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 30px;
}
h4 {
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
}
.content {
  background-color: #fcf9f4;
  margin-top: 30px;
}
img {
  margin-left: 470px;
  height: 180px;
  width: 200px;
}
form {
  text-align: center;
  margin-top: 50px;
}

li {
  padding: 10px;
  margin: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  background: #f4f2ef;
  list-style-type: none;
}

#add-burger {
  margin-left: 30px;
}
.devour {
  float: right;
}
#burgers-to-devour,
#burgers-devoured {
  background-color: rgb(190, 179, 157);
  padding: 5px;
}
